<!DOCTYPE html>
<html>
  <head>
    <title>StripeStoreMockup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="/products" class="brand-logo">Foo Store</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Cart(#{current_cart.count})", cart_path %></li>
          <% if current_user %>
            <li><%= current_user.email %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container"><%= yield %></div>
    <% if notice %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 2000)
      </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 2000)
      </script>
    <% end %>
  </body>
</html>
